body {
    background-color: #F1F1F1;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    border-radius: 20px;
    width: 80%;
    background-color: white;
}

.content .author {
    padding-left: 20px;
}
.content .title {
    padding-left: 20px;
    font-size: 30px;
}

.content .info {
    padding-left: 20px;
    padding-right: 20px;
}

.content .info h3 {
    font-size: 30px;
}

.content .info p {
    font-size: 20px;
}

.content .info img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}